                    <div id="content" ng:controller="blogDetailsCtrl">
                    
                       
                            <h2 class="title"> <a href='#/blog/{{ post.id }}'>{{ post.title }}</a></h2>
                            <p class="meta">Posted by <a href="#">Someone</a> on July 10, 2011
                                
                            <div class="entry">
                                <p>{{post.body}} </p>
                            </div>
                        </div>
                       
                    